@{
    ViewBag.Title = "Tret";
}

<div class="row">
    <div class="col-sm-12">
        @{
            string soutTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                soutTxt = "Одјави се";
            }
            else
            {
                soutTxt = "Sign Out";
            }
        }
        @{
            string bckTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                bckTxt = "назад";
            }
            else
            {
                bckTxt = "Back";
            }
        }
        <button class="btn" style="float:right;background-color:lightblue" onclick="location.href='@Url.Action("LogOut", "Account")'">@soutTxt</button>
        <button class="btn" style="float:left;background-color:lightblue;margin-right:5px" onclick="location.href='@Url.Action("Vtor", "home")'">@bckTxt</button>
    </div>
</div>
<hr />

<div class="row ">
    <div class="col-sm-12">
        <img src="~/content/images/final.png" class="img-responsive" alt="Responsive image" />
        <br />
    </div>
    <div class="col-sm-12" style="text-align: center; padding-top:50px;">        
        @Html.DropDownList("centers", (IEnumerable<SelectListItem>)ViewBag.Centers, new {id="ddCenters", @class = "form-control", style = "margin:auto; text-align: center; background-color: lightblue; width:280px; height:60px; font-size:22px" });
    </div>
    <div class="col-sm-12" style="text-align: center; margin-top:15px;margin-bottom:20px;">
        @{
            string contTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                contTxt = "Продолжи";
            }
            else
            {
                contTxt = "Continue";
            }
        }
        <button onclick="Continue_click()" class="btn" style="background-color: lightblue; font-size:20px">@contTxt</button>
    </div>
</div>
<script type="text/javascript">
    function Continue_click()
    {
        txt = $("#ddCenters option:selected").text();
        val = $("#ddCenters option:selected").val();
        window.location.href = '@Url.Action("Cetvrt", "Home")/?Selectedvalue=' + val + '&SelectedText=' + txt;
    }
</script>