@{
    ViewBag.Title = "Cetvrt";
}

<div class="row">
    <div class="col-sm-12">
        @{
            string bckTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                bckTxt = "Назад";
            }
            else
            {
                bckTxt = "Back";
            }
        }
        @{
            string LoutTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                LoutTxt = "Одјави се";
            }
            else
            {
                LoutTxt = "Sign Out";
            }
        }

        <button class="btn" style="float:left;background-color:lightblue" onclick="location.href='@Url.Action("Tret", "Home")'">@bckTxt</button>
        <button class="btn" style="float:right;background-color:lightblue;margin-right:5px" onclick="location.href='@Url.Action("LogOut", "Account")'">@LoutTxt</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12 text-center">
        @{
            string lblTxt = "";
            string centar = Session["SelectedCenter"].ToString();
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                lblTxt = "Информации за тест центар: " + centar;
            }
            else
            {
                lblTxt = "Information about test center: " + centar;
            }
        }
        <label>@lblTxt</label>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5 text-center" style="background-color:dodgerblue;text-align:center">
        @Html.DropDownList("centers", (IEnumerable<SelectListItem>)ViewBag.Locations, new { id = "ddLocations", @class = "form-control", style = "margin:auto;margin-top:30px;" })
        <img src="~/content/images/strelka.png" style="width:20px" /><br />
        <input class="form-control" type="text" name="name" value="@Session["SelectedCenter"]" style="margin:auto; margin-top:10px;" />
        @{
            string btnTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                btnTxt = "Пресметај дистанца";
            }
            else
            {
                btnTxt = "Calculate distance";
            }
        }
        <button class="btn" style="margin: auto; margin-top: 10px;" onclick="calculate_distance()">@btnTxt</button>
        <input class="form-control" type="text" name="distance" value="@ViewBag.Distance" style="margin: auto; margin-top: 10px; margin-bottom:30px;" />
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <iframe width="600"
                height="450"
                frameborder="0" style="border:0"
                src="@ViewBag.link"></iframe>
    </div>
</div>

<script type="text/javascript">
    function calculate_distance() {
        SelectedLocation = $("#ddLocations option:selected").val();
        window.location.href = '@Url.Action("CalculateDistance", "Home")/?SelectedLocation=' + SelectedLocation;
    }
</script>