
@{
    ViewBag.Title = "Votr";
}
<div class="row">
    <div class="col-sm-12">
        @{
            string bakTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                bakTxt = "Назад";
            }
            else
            {
                bakTxt = "Back";
            }
        }

        @{
            string abtTxt = "";
            if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
            {
                abtTxt = "За нас";
            }
            else
            {
                abtTxt = "About";
            }
        }


        <button class="btn" style="float:left;background-color:lightblue;margin-right:5px" onclick="location.href='@Url.Action("Login", "Account")'">@bakTxt</button>
        <button class="btn" style="float:right;background-color:lightblue" onclick="location.href='@Url.Action("About","Home")'">@abtTxt</button>
    </div>
</div>
<hr />
<div class="row" style="margin-top:150px">
    <div class="col-sm-12 text-center">
        <div style="font-size:50px">
            <label>КОВИД-19</label>
        </div>
        <div style="font-size:30px">
            <label>ТЕСТ ЦЕНТРИ</label>
        </div>
        <div style="font-size:25px">
            <label>За пребарување на локации на тест центрите притиснете овде</label>
        </div>
        <div>
            <img src="~/content/images/strelka.png" alt="strelka" width="60" />
        </div>
        <div>
            @{
                string srcTxt = "";
                    if (Session["jazik"] == null || Session["jazik"].ToString() == "mkd")
                    {
                        srcTxt = "Пребарај";
                    }
                    else
                    {
                        srcTxt = "Search";
                    }
            }
            <button class="btn" style="background-color:lightblue" onclick="location.href='@Url.Action("Tret","Home")'">@srcTxt</button>
        </div>
    </div>
</div>